*
  box-sizing: border-box

button
  border: 1px solid #ccc
  padding: 8px
  background-color: white
  font-size: 12px
  margin-right: 8px
  border-radius: 2px
  cursor: pointer

.app-editor
  font-family: Helvetica, sans-serif

  .controls
    margin-top: 24px
    margin-left: 53px

  .todo-new
    margin-left: 22px
    font-size: 16px
    color: #444
    border: none
    outline: none
    padding: 9px 16px 16px 31px
    width: 80%
    background: transparent

  .todo-list
    list-style-type: none
    padding: 0
    margin-bottom: 0

    .todo-item
      padding: 0.5em
      margin: 0.25em 0
      display: flex
      position: relative

      .todo-delete
        position: absolute
        right: 16px
        top: 2px
        display: none

      &:hover .todo-delete
        display: inline

      input[type="checkbox"]
        position: relative
        top: 2px
        width: 30px

      input[type="text"]
        position: relative
        left: 8px
        border: none
        width: 100%
        flex-grow: 1
        font-size: 16px
        color: #444
        background: transparent

        &:focus
          outline: none

      &.done input[type="text"]
        color: #ccc
        text-decoration: line-through
